@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App__Logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App__Header {
  text-align: center;
  background-color: #222;
  height: 170px;
  padding: 20px;
  color: white;
}

.App__Body {
  font-size: large;
}

p.App__Header {
  padding: 20px;
}

h3 {
  text-align: left;
  margin: 10px 20px;
}

span.Spinner {
  position: relative;
  left: 20px;
}
