.SpinnerInBlue {
    position: relative;
    background-color: #007;
    border-radius: 25px;
    border: none;
    height: 50px;
    width: 200px;
    padding: 0;
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
}

.SpinnerInBlue__Decrement,
.SpinnerInBlue__Increment {
    background-color: #aaf;
    color: #007;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    margin: 0;
}
.SpinnerInBlue__Decrement:hover,
.SpinnerInBlue__Increment:hover {
    background-color: #ccf;
}

.SpinnerInBlue__Value {
    background-color:#aaf;
    color: #007;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    font-size: 30px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-align: center;
}
.SpinnerInBlue__Value:focus {
    background-color: #ccf;
}

.SpinnerInBlue__Decrement,
.SpinnerInBlue__Increment,
.SpinnerInBlue__Value {
    position: absolute;
    top: 5px;
}

.SpinnerInBlue__Decrement {
    left: 5px;
}

.SpinnerInBlue__Value {
    left: 50px;
}

.SpinnerInBlue__Increment {
    left: 155px;
}