.SpinnerInGreen {
    position: relative;
    border: none;
    height: 40px;
    width: 152px;
    padding: 0;
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
}

.SpinnerInGreen__Decrement,
.SpinnerInGreen__Increment {
    background-color: white;
    color: #096;
    border: 2px solid #096;
    outline: none;
    width: 30px;
    height: 21px;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    margin: 0;
}
.SpinnerInGreen__Decrement:hover,
.SpinnerInGreen__Increment:hover {
    color: #0f4;
    border-color: #0f4;
}

.SpinnerInGreen__Value {
    background-color: white;
    color: #096;
    border: 2px solid #096;
    outline: none;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    height: 40px;
    width: 116px;
    font-size: 30px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-align: center;
}
.SpinnerInGreen__Value:hover {
    border-color: #0f4;
}
.SpinnerInGreen__Value:focus {
    color: #0f4;
}

.SpinnerInGreen__Decrement,
.SpinnerInGreen__Increment,
.SpinnerInGreen__Value {
    position: absolute;
}

.SpinnerInGreen__Value {
    top: 0;
    left: 0;
}

.SpinnerInGreen__Increment {
    top: 0;
    left: 122px;
    border-top-right-radius: 9px;
    margin: 0;
}

.SpinnerInGreen__Decrement {
    top: 23px;
    left: 122px;
    border-bottom-right-radius: 9px;
}