p,
div,
img {
    margin: 5px 30px 5px 30px;
}

h1 {
    margin-left: 30px;
}

h2,
h1 + span > p {
    margin-left: 60px;
}

h3,
h2 + span > p {
    margin-left: 90px;
}

h3 + span > p,
h3 + span li {
    margin-left: 120px;
}

h3 + span li {
    color: blue;
    list-style-image: none;
}

h3:first-of-type + span li {
    list-style-image: url(favicon24x24.png);
}

h3:nth-of-type(2) + span li {
    list-style-type: disk;
}

h3:nth-of-type(3) + span li {
    list-style-type: circle;
}

h3:nth-of-type(4) + span li {
    list-style-type: square;
}

.alert {
    color: red;
}

.banner {
    position: fixed;
    right: 30px;
    width: 190px;
    height: 60px;
    margin: 0;
    padding: 0;
    background: #999999;
}

.banner-above-shadow {
    position: relative;
    margin: 0;
    padding: 0;
    top: -5px;
    left: -5px;
}

.banner-academ-it-school {
    bottom: 110px;
}

.banner-academ-it-school img {
    max-height: 40px;
    background: #378DB2;
    margin: 0;
    padding: 10px 11px;
}

.banner-html-academy {
    bottom: 30px;
}

.banner-html-academy img {
    max-height: 40px;
    background: #2d2d44;
    margin: 0;
    padding: 10px 36px;
}