p,
div,
img {
    margin: 5px 30px 5px 30px;
}

h1 {
    margin-left: 30px;
}

h2,
h1 + span > p {
    margin-left: 60px;
}

h3,
h2 + span > p {
    margin-left: 90px;
}

h3 + span > p,
h3 + span li {
    margin-left: 120px;
}

h3 + span li {
    color: blue;
}

.alert {
    color: red;
}

.banner {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 200px;
    background: #378DB2;
    margin: 0;
    padding: 0;
}

.banner img {
    max-width: 180px;
    margin: 0;
    padding: 10px;
}