p,
div,
img {
    margin: 5px 30px 5px 30px;
}

h1 {
    margin-left: 30px;
}

h2,
h1 + span > p {
    margin-left: 60px;
}

h3,
h2 + span > p {
    margin-left: 90px;
}

h3 + span > p {
    margin-left: 120px;
}

.alert {
    color: red;
}