h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #272c71;
    margin: 20px;
}

table {
    background-color: white;
    border: 2px solid #272c71;
    border-collapse: collapse;
    font-size: 16px;
    margin: 20px;
}

td {
    border: 2px solid #272c71;
    vertical-align: middle;
    text-align: center;
    color: #272c71;
}

thead td {
    background-color: #272c71;
    color: white;
    font-size: 32px;
}

.s {
    background-color: #d75d98;
}

.p {
    background-color: #f9d02a;
}

td.img {
    background-color: #a9c7ee;
}

div.img {
    background-image: url(img/mendeleev.png);
    background-repeat: no-repeat;
    padding: 85px;
}

div.vertical-text-cell {
    transform: rotate(-90deg);
}

@keyframes to-center {
    0% {
        transform: scale(1.5);
    }
    1% {
        transform: scale(1.5);
    }
    2% {
        transform: scale(3);
    }
    100%{
        transform: scale(3);
    }
}

.s img:hover,
.p img:hover {
    transform: scale(1.5);
    outline: 2px solid black;

    animation-name: to-center;
    animation-duration: 100s;
    animation-delay: 0;
}

.s.red img,
.p.red img {
    outline: 2px solid red;
}