h1 {
    text-align: center;
}

table {
    background-color: white;
    border: 2px solid #272c71;
    border-collapse: collapse;
    font-size: 16px;
}

td {
    border: 2px solid #272c71;
    vertical-align: middle;
    text-align: center;
    color: #272c71;
}

thead td {
    background-color: #272c71;
    color: white;
    font-size: 32px;
}

.s {
    background-color: #d75d98;
}

.p {
    background-color: #f9d02a;
}

.img {
    background-color: #a9c7ee;
}